

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.profile-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding:5px;
  height:220px
} 

.App {
  width: 1200px;
  max-width: 1200px;
  margin: 5px auto;
  
}

body {
  font-family: DM-Sans;
  background-color: #1E1E1E;
  color: black;
}

